@* Author: Murtaza Mian
Description: Welcome Page for our application*@

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CineLog</h1>
    <p>Welcome to CineLog - Your Movie Diary and Community Hub! Log, review, discover, and connect with fellow movie enthusiasts. Start exploring now!</p>
    <div class="btn btn-sm" style="border:1px solid #ccc">
        <a asp-action="SignUpPage">Go To Home Page</a>
    </div>
</div>
