@* Author: Sebastian Villafane Ramos
Description: Login Page for our application*@

@model Group8Project.Models.User

<style>
    td {
        padding: 3px 7px;
        text-align: right;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Sign In</h1>
    <p>Welcome! Please Sign into Your Account.</p>


    <form asp-action="LoginPage" method="post" style="border:1px solid #ccc">
        <div class="container">
            <hr>
            <div asp-validation-summary="All" class="text-danger" style="margin: auto; text-align: left; width: 30%"></div>
            <table style="margin: 0 auto">
                <tr>
                    <td><label asp-for="Email"><b>Email:</b></label></td>
                    <td><input asp-for="Email" type="text" name="email"></td>
                </tr>
                <tr>
                    <td><label asp-for="Password"><b>Password:</b></label></td>
                    <td><input asp-for="Password" type="password"></td>
                </tr>
            </table>
            <br />
            <div class="clearfix">
                <button type="submit" class="signinbtn">Sign In</button>
            </div>
            <br />
        </div>
    </form>

    <br />

    <div class="btn btn-sm text-center" style="border:1px solid #ccc">
        <a asp-action="SignUpPage">Go To Home Page</a>
    </div>

</div>