@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Group8Project.Models.User

<div class="text-center">
    <h1 class="display-4">Sign In</h1>
    <p>Welcome! Please Sign into Your Account.</p>
    
    
    <form asp-action="LoginPage" method="post" style="border:1px solid #ccc">
        <div class="container">
            <hr>
            <div asp-validation-summary="All" class="text-danger"></div>
 
            <label asp-for="Email"><b>Email</b></label>
            <input asp-for="Email" type="text" placeholder="Enter Email" name="email">
            <br /><br />
 
            <label asp-for="Password"><b>Password</b></label>
            <input asp-for="Password" type="password" placeholder="Enter Password">
            <br /><br />

            <div class="clearfix">
                <button type="submit" class="signinbtn">Sign In</button>
            </div>
            <br />
        </div>
    </form>

    <br />

    <div class="btn btn-sm text-center" style="border:1px solid #ccc">
        <a asp-action="SignUpPage">Go To Home Page</a>
    </div>

</div>

